{% extends 'DteBtsBundle::base.html.twig' %}

{% block title 'Bug tracking system - Issue list' %}

{% block content %}
    <h1>Issue list</h1>

    <table class="table table-striped">
        <colgroup>
            <col class="col-md-1">
            <col class="col-md-6">
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-1">
        </colgroup>
        <thead>
            <tr>
                <th>Code</th>
                <th>Summary</th>
                <th>Type</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Assignee</th>
                <th>Modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('issue_show', { 'id': entity.id }) }}">{{ entity.code }}</a></td>
                <td>{{ entity.summary }}</td>
                <td>{{ types[entity.type] }}</td>
                <td>{{ entity.getStatus().getLabel() }}</td>
                <td>{{ entity.getPriority().getLabel() }}</td>
                <td>{% if entity.getAssignee() %}<a href="{{ path('user_show', { 'id': entity.getAssignee().getId() }) }}">{{ entity.getAssignee().getFullname() }}</a> {% else %} - {% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('issue_show', { 'id': entity.id }) }}">show</a>
                    <br/>
                    <a href="{{ path('issue_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <a href="{{ path('issue_new') }}" class="btn btn-default">Create a new entry</a>
    </div>
    {% endblock %}
