{% extends 'DteBtsBundle::base.html.twig' %}

{% block title %}
    {{ 'bts.page.issue.head_title'|trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'bts.page.issue.page_title'|trans }}</h1>

    <table class="table table-striped">
        <colgroup>
            <col class="col-md-1">
            <col class="col-md-6">
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-1">
        </colgroup>
        <thead>
            <tr>
                <th>{{ 'bts.entity.issue.code.label'|trans }}</th>
                <th>{{ 'bts.entity.issue.summary.label'|trans }}</th>
                <th>{{ 'bts.entity.issue.type.label'|trans }}</th>
                <th>{{ 'bts.entity.issue.status.label'|trans }}</th>
                <th>{{ 'bts.entity.issue.priority.label'|trans }}</th>
                <th>{{ 'bts.entity.issue.assignee.label'|trans }}</th>
                <th>{{ 'bts.entity.issue.updated.label'|trans }}</th>
                <th>{{ 'bts.default.actions.label'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {% if is_granted('view', entity) %}
                    <a href="{{ path('issue_show', { 'id': entity.id }) }}">{{ entity.code }}</a>
                    {% else %}
                    {{ entity.code }}
                    {% endif %}
                </td>
                <td>{{ entity.summary }}</td>
                <td>{{ types[entity.type] }}</td>
                <td>{{ entity.status.label }}</td>
                <td>{{ entity.priority.label }}</td>
                <td>{% if entity.assignee %}<a href="{{ path('user_show', { 'id': entity.assignee.id }) }}">{{ entity.assignee.fullname }}</a> {% else %} - {% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {% if is_granted('view', entity) %}
                    <a href="{{ path('issue_show', { 'id': entity.id }) }}">{{ 'bts.default.action.show'|trans }}</a>
                    {% endif %}
                    <br/>
                    {% if is_granted('edit', entity) %}
                    <a href="{{ path('issue_edit', { 'id': entity.id }) }}">{{ 'bts.default.action.edit'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_OPERATOR') %}
    <div class="row">
        <a href="{{ path('issue_new') }}" class="btn btn-default">{{ 'bts.page.issue.action.create'|trans }}</a>
    </div>
    {% endif %}
    {% endblock %}
