{% extends 'DteBtsBundle::base.html.twig' %}

{% block title 'Bug tracking system - Issue' %}

{% block content %}
    <h1>Issue</h1>

    <div class="row">
        <div class="col-md-12">
            <h4><a href="{{ path('project_show', { 'id': entity.project.id }) }}">{{ entity.project.selectLabel }}</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>({{ entity.code }})&nbsp;</strong>{{ entity.summary }} &nbsp;&nbsp;
            <a href="{{ path('issue_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;Edit</a>
            <br/>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>Actions:</strong>
            <div class="btn-group" role="group" aria-label="...">
                <a type="button" class="btn btn-default {% if entity.status.id == 1 %} active disabled {% endif %}" href="{{ path('issue_change_status', { 'id': entity.id, 'status': '1'}) }}">Open</a>
                <a type="button" class="btn btn-default {% if entity.status.id == 2 %} active disabled {% endif %}" href="{{ path('issue_change_status', { 'id': entity.id, 'status': '2'}) }}">In progress</a>
                <a type="button" class="btn btn-default {% if entity.status.id == 3 %} active disabled {% endif %}" href="{{ path('issue_change_status', { 'id': entity.id, 'status': '3'}) }}">Close</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
    </div>
    <table class="table table-striped">
        <colgroup>
            <col class="col-md-2">
            <col class="col-md-10">
        </colgroup>
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ types[entity.type] }}</td>
            </tr>
            {% if entity.parent %}
            <tr>
                <th>Story</th>
                <td><a href="{{ path('issue_show', { 'id': entity.parent.id }) }}">{{ entity.parent.selectLabel }}</a></td>
            </tr>
            {% endif %}
            {% if entity.children %}
            <tr>
                <th>Subtasks</th>
                <td>
                    {% for subtask in entity.children %}
                    <a href="{{ path('issue_show', { 'id': subtask.id }) }}">{{ subtask.selectLabel }}</a><br />
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>Status</th>
                <td>{{ entity.status.label }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ entity.priority.label }}</td>
            </tr>
            <tr>
                <th>Reporter</th>
                <td><a href="{{ path('user_show', { 'id': entity.reporter.id }) }}">{{ entity.reporter.fullname }}</a></td>
            </tr>
            <tr>
                <th>Assignee</th>
                <td>{% if entity.assignee %}<a href="{{ path('user_show', { 'id': entity.assignee.id }) }}">{{ entity.assignee.fullname }}</a> {% endif %}</td>
            </tr>
            {% if entity.resolution %}
            <tr>
                <th>Resolution</th>
                <td>{{ entity.resolution.label }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Created</th>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <a href="{{ path('issue') }}">Back to the list</a>
        <br />
        <span>{{ form(delete_form) }}</span>
    </div>
{% endblock %}
