<html>
<body>
    <p>Issue <a href="{{ url('issue_show', { 'id': activity.issue.id }) }}">{{ activity.issue.code }}</a> has been updated by user <a href="{{ url('user_show', { 'id': activity.user.id }) }}">{{ activity.user.fullname }}</a> with message:</p>
    <p>{{ activity.message }}</p>
</body>
</html