{% extends 'DteBtsBundle::base.html.twig' %}

{% block title %}
    {{ 'bts.page.user.head_title'|trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'bts.page.user.page_title'|trans }}</h1>

    <table class="table table-striped">
        <colgroup>
            <col class="col-md-1">
            <col class="col-md-3">
            <col class="col-md-3">
            <col class="col-md-3">
            <col class="col-md-1">
            <col class="col-md-1">
        </colgroup>
        <thead>
            <tr>
                <th>{{ 'bts.entity.user.id.label'|trans }}</th>
                <th>{{ 'bts.entity.user.email.label'|trans }}</th>
                <th>{{ 'bts.entity.user.username.label'|trans }}</th>
                <th>{{ 'bts.entity.user.fullname.label'|trans }}</th>
                <th>{{ 'bts.entity.user.avatar.label'|trans }}</th>
                <th>{{ 'bts.default.actions.label'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>
                    {% if is_granted('view', entity) %}
                    <a href="{{ path('dte_bts_user_show', { 'id': entity.id }) }}">{{ entity.email }}</a>
                    {% else %}
                    {{ entity.email }}
                    {% endif %}
                </td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.fullname }}</td>
                <td>{% if entity.avatar %} <img src="{{ entity.avatar }}" width="32" >{% else %} - {% endif %}</td>
                <td>
                    {% if is_granted('view', entity) %}
                    <a href="{{ path('dte_bts_user_show', { 'id': entity.id }) }}">{{ 'bts.default.action.show'|trans }}</a>
                    <br />
                    {% endif %}
                    {% if is_granted('edit', entity) %}
                    <a href="{{ path('dte_bts_user_edit', { 'id': entity.id }) }}">{{ 'bts.default.action.edit'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('create', 'Dte\\BtsBundle\\Entity\\User') %}
    <div class="row">
        <a href="{{ path('dte_bts_user_new') }}" class="btn btn-default">{{ 'bts.page.user.action.create'|trans }}</a>
    </div>
    {% endif %}
{% endblock %}
