{% extends 'DteBtsBundle::base.html.twig' %}

{% block title 'Bug tracking system - User list' %}

{% block content %}
    <h1>User list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Username</th>
                <th>Avatar</th>
                <th>Password</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.email }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.avatar }}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.id }}</td>
                <td>
                    <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                    <br />
                    <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <a href="{{ path('user_new') }}" class="btn btn-default">Create a new entry</a>
    </div>
    {% endblock %}
