{% extends 'DteBtsBundle::base.html.twig' %}

{% block title %}
    {{ 'bts.page.project.head_title'|trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'bts.page.project.page_title'|trans }}</h1>

    <table class="table table-striped">
        <colgroup>
            <col class="col-md-1">
            <col class="col-md-2">
            <col class="col-md-7">
            <col class="col-md-1">
            <col class="col-md-1">
        </colgroup>
        <thead>
            <tr>
                <th>{{ 'bts.entity.project.id.label'|trans }}</th>
                <th>{{ 'bts.entity.project.code.label'|trans }}</th>
                <th>{{ 'bts.entity.project.summary.label'|trans }}</th>
                <th>{{ 'bts.entity.project.members.label'|trans }}</th>
                <th>{{ 'bts.default.actions.label'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>
                    {% if is_granted('view', entity) %}
                    <a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.code }}</a>
                    {% else %}
                    {{ entity.code }}
                    {% endif %}
                </td>
                <td>{{ entity.label }}<br/><i>{{ entity.summary }}</i></td>
                <td>{{ entity.getMembers()|length }}</td>
                <td>
                    {% if is_granted('view', entity) %}
                    <a href="{{ path('project_show', { 'id': entity.id }) }}">{{ 'bts.default.action.show'|trans }}</a>
                    <br />
                    {% endif %}
                    {% if is_granted('edit', entity) %}
                    <a href="{{ path('project_edit', { 'id': entity.id }) }}">{{ 'bts.default.action.edit'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_MANAGER') %}
    <div class="row">
        <a href="{{ path('project_new') }}" class="btn btn-default">{{ 'bts.page.project.action.create'|trans }}</a>
    </div>
    {% endif %}
{% endblock %}
