{% extends 'DteBtsBundle::base.html.twig' %}

{% block title 'Bug tracking system - Project' %}

{% block content %}
    <h1>Project</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Label</th>
                <td>{{ entity.label }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ entity.summary }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <a href="{{ path('project') }}">Back to the list</a>
        <br />
        <span>{{ form(delete_form) }}</span>
    </div>
{% endblock %}
