{% block body %}
<table class="table table-striped">
    <colgroup>
        <col class="col-md-11">
        <col class="col-md-1">
    </colgroup>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>
                <strong><a href="{{ path('dte_bts_user_show', { 'id': entity.user.id }) }}">{{ entity.user.fullname }}</a>&nbsp;({% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %})</strong><br/>
                <div id="comment-body-textblock-{{ entity.id }}">
                {{ entity.body }}
                </div>
                {% if is_granted('edit', entity) %}
                <div id="comment-body-formblock-{{ entity.id }}" class="hidden">
                    {{ form(forms['edit'][entity.id], { 'id': "comment-form-" ~ entity.id, 'attr': {'class': 'comment-form', 'data-comment-id': entity.id }}) }}
                </div>
                {% endif %}
                {% if is_granted('delete', entity) %}
                <div id="comment-body-formblock-delete-{{ entity.id }}" class="hidden">
                    {{ form(forms['delete'][entity.id], { 'id': "comment-form-delete-" ~ entity.id, 'attr': {'class': 'comment-form-delete', 'data-comment-id': entity.id }}) }}
                </div>
                {% endif %}
            </td>
            <td>
                {% if is_granted('edit', entity) %}
                <a class="edit_comment_button" href="#" data-comment-id="{{ entity.id }}">{{ 'bts.default.action.edit'|trans }}</a>
                {% endif %}
                <br />
                {% if is_granted('delete', entity) %}
                <a class="delete_comment_button" href="#" data-comment-id="{{ entity.id }}">{{ 'bts.default.action.delete'|trans }}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
