{% extends "DteBtsBundle::layout.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/dtebts/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/dtebts/css/bootstrap-theme.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap-collection.css') }}" />
    <script src="{{ asset('bundles/dtebts/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/dtebts/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-collection.js') }}"></script>
    <script src="{{ asset('bundles/dtebts/js/scripts.js') }}"></script>
{% endblock %}

{% block title %}
    {{ 'bts.page.main.head_title'|trans }}
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content_header %}
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="{{ url("dte_bts_homepage") }}">{{ 'bts.brand_name'|trans }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li {% if app.request.uri == url("dte_bts_homepage") %} class="active" {% endif %}><a href="{{ url("dte_bts_homepage") }}">{{ 'bts.page.main.menu_label'|trans }}</a></li>
                <li {% if app.request.uri == url("project") %} class="active" {% endif %}><a href="{{ url("project") }}">{{ 'bts.page.project.menu_label'|trans }}</a></li>
                <li {% if app.request.uri == url("issue") %} class="active" {% endif %}><a href="{{ url("issue") }}">{{ 'bts.page.issue.menu_label'|trans }}</a></li>
                <li {% if app.request.uri == url("user") %} class="active" {% endif %}><a href="{{ url("user") }}">{{ 'bts.page.user.menu_label'|trans }}</a></li>
              </ul>

              <a class="btn btn-primary navbar-btn" href="{{ path("issue_new") }}" role="button">{{ 'bts.page.main.action.new_issue'|trans }}</a>

              <ul class="nav navbar-nav navbar-right">
                {% if app.user %}

                <li {% if app.request.uri == url("user_profile") %} class="active" {% endif %}>
                    <a href="{{ url("user_profile") }}">
                        {% if app.user.avatar %}
                        <img src="{{app.user.avatar}}" width="24" height="24">
                        {% else %}
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {% endif %}
                        &nbsp;&nbsp;{{ app.user.fullname }}
                    </a>
                </li>
                <li><a href="{{ url("dte_bts_logout") }}">{{ 'bts.page.main.action.logout'|trans }}</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
        <div style="clear: both"></div>
    {% endblock %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

{% endblock %}
