{% extends "DteBtsBundle::layout.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/dtebts/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/dtebts/css/bootstrap-theme.min.css') }}" />
    <script src="{{ asset('bundles/dtebts/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block title 'Bug tracking system' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content_header %}
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="{{ url("dte_bts_homepage") }}">Bug tracking system</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li {% if app.request.uri == url("dte_bts_homepage") %} class="active" {% endif %}><a href="{{ url("dte_bts_homepage") }}">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Issues</a></li>
                <li><a href="#">Users</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                <li><a href="{{ url("dte_bts_logout") }}">Log out</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
        <div style="clear: both"></div>
    {% endblock %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

{% endblock %}
